@import "./reset.scss";
@import "./utils.scss";
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body,
input,
select,
textarea {
  color: #ffffff;
  font-weight: 300;
  font-size: 17pt;
  font-family:
    "Karla",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    system-ui,
    sans-serif;
  line-height: 1.65;
  background-color: _color(background);
}
