@import "@styles/utils.scss";

.Navbar {
  display: flex;
  flex: 1;
  gap: 0.5em;
  align-items: center;
  height: 3.5rem;

  @media screen and (min-width: 720px) {
    flex: 0.8;
  }
}

.Navbar__link {
  @media screen and (max-width: 720px) {
    display: none;
  }

  display: grid;
  grid-auto-flow: column;
  grid-gap: $space-s;
  align-items: center;
  padding-left: $space-m;
  color: _color(neutral, lighter);
  cursor: pointer;

  &--logged-in {
    color: _color(highlight);
  }

  &:hover {
    color: _color(highlight);
  }
}

.Navbar__cart {
  width: 2ch;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-thickness: 3px;
}
